* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  color: #fff;
  background: linear-gradient(to bottom, #178bad, #184f77);
}

.header {
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.display {
  display: flex;
  align-self: center;
  justify-content: space-around;
  margin: 30px auto;
  padding: 15px;
}

.display-second {
  width: 50%;
  display: flex;
  height: 300px;
  flex-direction: column;
}

.r1 {
  text-align: center;
  font-size: 25px;
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: space-around;
}

.r2 {
  font-size: 25px;
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: space-around;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-card .search input {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #0f0c29;
  border-radius: 20px;
}

.search button {
  cursor: pointer;
  height: 40px;
  border: 2px solid #0f0c29;
  border-radius: 20px;
}

.search button img {
  max-height: 35px;
}
.settings button {
  font-weight: 700;
  margin-left: 8px;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 16px;
  height: 40px;
  border: 2px solid #0f0c29;
  border-radius: 20px;
}

[class^="settings-"]:hover,
[class^="settings-"].active {
  border: 2px solid #ce1d37;
}

.temp {
  margin: 15px;
  font-size: 90px;
  font-weight: bolder;
}

.city {
  font-size: 40px;
}

.country {
  font-size: 20px;
}

.gif {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif img {
  height: 300px;
}

.weatherlogo {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
